body {
    font-family: Itim, Itim;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff0000;
    color: white;
    padding: 1rem;
    text-align: center;
}
main {
    padding: 1rem;
}
footer {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
